<header class="header navbar navbar-expand-lg navbar-dark navbar-floating navbar-sticky">
    <div class="hamburger" (click)="checkRoute()">
        <i class="bi bi-list"></i>
    </div>
    <div class="container px-0 px-xl-3 d-flex justify-content-center">
        <div>
            <div class="logo">
                <h1 class="title-cursive" style="color: #af4901;font-size: 6.2rem;text-shadow: 0 7px 5px #8e725e;">- Mili Das -</h1>
                <!-- <img src="./../../assets/img/logo.png" width="253" /> -->
            </div>            
        </div>
    </div>    
</header>


<!-- <div>
    <ul class="inline-block">
        <li>
            <a href="">Gallary</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>
</div> -->
