<div class="container p-4 min-height">
    <div class="container">
        <div class="row set-device set-pad">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="appearence">
                    <img class="img-fluid" src="https://www.intex.in/media/wysiwyg/contact-us-mobile_1_.jpg" alt="milidas" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <h3>Contact</h3>
                <p>MILI DAS.<br>
                    Address: N/A<br>
                    Telephone: N/A
                </p>
            </div>
        </div>
    </div>
</div>