<div class="container p-4 min-height">
    <div class="container">
        <div class="row set-device set-pad" style="border: 1px solid #c9a8a8;background:#fff">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="appearence" style="background: #fff;">
                    <img class="img-fluid" src="../../assets/img/contact-us2.png" alt="milidas" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="p-4">
                    <blockquote>                    
                    <em>" True communication is the connection between two hearts.
                        If there is contact, connection will come. "</em>
                    </blockquote>
                </div>
                <div class="p-4">
                <h2><span><i class="bi bi-chat-left-dots"></i> </span> Contact</h2>
                <p><strong>M I L I   D A S</strong><br>
                    210B/1D<br>
                    Kali charan ghosh road<br>
                    Kolkata-700050<br><br>
                Please send me a <a href="mailto:milidas706@gmail.com">mail here</a>!
                </p>
                </div>
                <div class="row m-4">
                    <div class="col-xl-6 col-xs-12" style="border: 1px solid rgb(224, 222, 222); background: #f7f7f7;border-right: none">
                        <h6 class="p-2 text-center">Buy Books from Amazon</h6>
                        <h2 class="text-center">NEVER BROKEN</h2>
                    </div>
                    <div class="col-xl-6 col-xs-12" style="border: 1px solid rgb(224, 222, 222); background: #f7f7f7;">
                        <a href="https://www.amazon.com/dp/B098LW43CX/ref=sr_1_1?dchild=1&keywords=never+broken+mili+das&qid=1625359422&s=books&sr=1-1"
                        target="_blank">
                        <img src="./../../assets/img/amazon.JPG" class="img-fluid" alt="milidas buy" />
                        </a>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>