<div class="content page">
    <div class="p-4 m-4">
        <ul class="menu animate__animated animate__rubberBand">
            <li>
                <a [routerLink]="['/']" class="animate__animated animate__shakeY">Home</a>
            </li>
            <li>
                <a [routerLink]="['/books']" class="animate__animated animate__shakeY">Books</a>
            </li>
            <li>
                <a [routerLink]="['/awards']" class="animate__animated animate__shakeY">Awards & Achivement</a>
            </li>
            <li>
                <a [routerLink]="['/gallary']" class="animate__animated animate__shakeY">Gallary</a>
            </li>
            <li>
                <a [routerLink]="['/recipe']" class="animate__animated animate__shakeY">Recipe</a>
            </li>
            <li>
                <a [routerLink]="['/videos']" class="animate__animated animate__shakeY">Videos</a>
            </li>
            <li>
                <a [routerLink]="['/contact']" class="animate__animated animate__shakeY">Contact</a>
            </li>
        </ul>
    </div>
</div>
