<div class="content page">
    <div class="p-4 m-4">
        <ul class="menu animate__animated animate__rubberBand">
            <li>
                <a [routerLink]="['/']" class="animate__animated animate__shakeY">
                    <i class="bi bi-house-door"></i> Home</a>
            </li>
            <li>
                <a [routerLink]="['/books']" class="animate__animated animate__shakeY">
                    <i class="bi bi-hdd-stack"></i> Books</a>
            </li>
            <li>
                <a [routerLink]="['/awards']" class="animate__animated animate__shakeY">
                    <i class="bi bi-award"></i> Awards & Achievement</a>
            </li>
            <li>
                <a [routerLink]="['/gallary']" class="animate__animated animate__shakeY">
                    <i class="bi bi-card-image"></i> Gallery</a>
            </li>
            <li>
                <a [routerLink]="['/recipe']" class="animate__animated animate__shakeY">
                    <i class="bi bi-shop"></i> Recipe</a>
            </li>
            <li>
                <a [routerLink]="['/videos']" class="animate__animated animate__shakeY">
                    <i class="bi bi-camera-video"></i> Videos</a>
            </li>
            <li>
                <a [routerLink]="['/contact']" class="animate__animated animate__shakeY">
                    <i class="bi bi-terminal"></i> Contact</a>
            </li>
        </ul>
    </div>
</div>
