<div class="container-fluid">
    <div class="container">
        <div class="rounded mt-3 milid">
            <div class="title-cursive">The smell of mother's body is the best
                perfume in this world
                <span style="display:block; font-family:'Roboto'; font-size: 12px;">~ Mili Das</span>
            </div>
            <div class="para">
                <p>{{miliText1}}</p> 
                <p>{{miliText2}}</p>
            </div>
            <p class="bangla spl-text">
                আমি মৃত্যু যন্ত্রণা ভোলার জন্য কবিতার সাথে সহবাস করি
                <span>~ মিলি দাস</span>
            </p>
            <div class="social-media">
                <div class="m-4 d-flex justify-content-around">
                    <a class="animate__animated animate__bounce btn mr-1" style="font-size:3rem" href="https://www.facebook.com/mili.das.520562" role="button"><i class="bi bi-facebook"></i></a>
                    <a class="animate__animated animate__bounce btn mr-1" style="font-size:3rem" href="https://twitter.com/" role="button"><i class="bi bi-twitter"></i></a>
                    <a class="animate__animated animate__bounce btn mr-1" style="font-size:3rem" href="https://www.instagram.com/" role="button"><i class="bi bi-instagram"></i></a>
                    <a class="animate__animated animate__bounce btn mr-1" style="font-size:3rem" href="https://youtube.com/channel/UCYmigBnyiPGpbAI0xZ4amBw/" role="button"><i class="bi bi-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Section awards -->

<div class="container-fluid p-4 brown-section">
    <div class="container">
        <div class="d-flex justify-content-center set-device">
                <iframe width="100%" height="515" src="https://www.youtube.com/embed/NdEfRFgYJmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>


<!--Buy for books-->

<div class="container-fluid p-4 books-buy">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12 text-end">
                <div class="section-title" >Books</div>
                    <p class="pt-4 pb-2 text-end">Words are her passion.Her creation is the emotion of her subconscious mind.From her childhood, 
                        she started her journey with poetry, she loved to play with words. When she grew up,  the words of her heart found a place 
                        inside two covers.
                        <br>
                        She realized that a book doesn't carry not only words of mind but also gives a lifelong identity of a person. 
                        A writer wants to live through her own creation.In the same way she wants to live in this earth through her beautiful creation.
                        She is the one who knows how to fly like a bird in the sky, knows how to float like a cloud in all inaccessible ways, 
                        knows how to give light to this earth like morning bright sun. <br>
                        Who can stop such an artist? <br>
                        
                        
                    </p>
                    <p class="pt-2 pb-4 text-end">
                        She has become an art in her own right.She is the inspiration of girls and power of women.She didn't learn to lose. She likes to 
                        take difficult things as a challenge. Poetry has penetrated the pores of the every cell of her body.<br>
                        Many famous person said that Mili Das is a name among the born poets.<br>
                    </p>
                <div class="btn-group">
                    <button class="btn btn-primary animate__animated animate__rubberBand" style="margin-right: 6px;" [routerLink]="['/books']">Published Books</button>
                    <button class="btn btn-primary animate__animated animate__rubberBand" [routerLink]="['/books']">Anthology</button>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="">
                    <div class="d-block text-center">
                        <img class="text-center" src="./../../assets/img/p1.png" alt=""/>
                    </div>
                    <div class="d-block text-center">
                        <img class="text-center" src="./../../assets/img/signed-milidas.png" alt="milidas" />
                    </div>
                    <div class="d-block text-center">
                        <img class="text-center" src="./../../assets/img/p2.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="section-title">Best Books</div>
        <div class="row set-device">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12" *ngFor="let bok of listsOfBooks">
                <div class="appearence">
                    <img [src]="bok.image" class="img-fluid" alt="milidas" />
                </div>
                <p>{{bok.text}}</p>
                <button class="btn btn-primary" [routerLink]="['/books']">{{bok.action}}</button>
            </div>
        </div> -->
    </div>
</div>

<!-- Awards & Achieveents -->
<div class="container-fluid p-4 brown-section">
    <div class="container">
        <div class="row set-device">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="appearence">
                    <img class="img-fluid" src="./../../assets/img/global-comments.jpg" alt="milidas" />
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12">
                <div class="title">Global Comments</div>
                <p>She has received many accolades for her poetry at West Bengal and abroad. Overcoming all adversities, 
                    today dhe has crossed the borders of the country and started her journey to abroad.</p>
                <!-- <button class="btn btn-secondary animate__animated animate__rubberBand">Go to Award</button> -->
            </div>
        </div>
    </div>
</div>
