<div class="container page">
    <div class="title p-4">
        <h4 class="title-cursive"><i class="bi bi-journal-check"></i> Gallery Pictures ...</h4>

        <div class="mt-4 mb-4 d-flex justify-content-center">
          <img src="./../../assets/img/gallery_banner.jpg" class="img-fluid" />
        </div>
        
        <div class="row mt-4">
            <div class="col-xl-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="card animate__animated animate__bounce ">
                    <div class="card-body">
                        <figure>
                            <img src="https://images.unsplash.com/photo-1518998053901-5348d3961a04?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YXJ0JTIwZ2FsbGVyeXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80" alt="milidas images" class="img-fluid" />
                            <figcaption>Gallary</figcaption>
                        </figure>
                        <a [routerLink]="['/gallary']" class="card-link">Details</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>