<div class="container page">
    <div class="title p-4">
        <h4 class="title-cursive"><i class="bi bi-journal-check"></i> All Awards & Achievements of Mili Das</h4>

        <!-- Page Header -->
        <div class="mt-4 mb-4 d-flex justify-content-center">
            <div class="row p-4 border mt-4 mb-4 border-secondary">
                <div class="col-xl-8 col-xs-12" style="font-size: 1.3rem;
                line-height: 2.4rem;">
                  <strong style="font-size:2rem;">Achievement </strong> is to overcome all the obstacles of life and make the dream successful. Arrange all of your beautiful desires, then try to fulfill it. One day you will reach that goal. Dream, work hard , be patient, 
                  one day achievement will come. We have to believe in ourselves with confidence. I can do it, I have to be able to do it. These sound belief and strong consciousness are our achievement. Life is a race.    
                  In this race , achievement of life is to sustain one's creation for the rest of one's life.<br>
                  An artist's creation is honored with an award. Life without any reward is very dull. The work that gives us joy, the work that gives us self satisfaction, this work can bring rewards in our life. Every award is confirmation of some good work. 
                  It says you must have done something good.  <br>
                  Each reward ensures that you are little different from others. Rewards increase the responsibility of human work.
                  True quality has the potential to be rewarding. <br>
                  She thinks that through her creation,  reaching the hearts of ordinary people is the best reward of her life.
                 
                </div>
                <div class="col-xl-4 col-xs-12">
                  <img src="./../../assets/img/milidas-awards2.jpg" alt="milidas images" class="img-fluid" />
                </div>
            </div>
          </div>

       


        <!-- Page Body -->
        <p>Total {{awards.length}} Awards/ Certification.</p>
        <div class="row mt-4">
            <div class="col-xl-2 col-lg-2 col-sm-4 col-xs-6" *ngFor="let award of awards">
                <div class="card cors animate__animated animate__bounce " (click)="checkStand(award)">
                    <div class="card-body" title="click to see">
                        <figure>
                            <img [src]="award.thumb" alt="milidas images" class="img-fluid" />
                            <figcaption>{{award.text}}</figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<!-- Module -->
<div class="modal" tabindex="-1" *ngIf="showModel">
    <div class="modal-dialog">
      <!-- <app-popup></app-popup> -->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{newText}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <p>
              <img [src]="newImage" class="img-fluid" />
          </p>
        </div>
      </div>
    </div>
  </div>

