<div class="container page min-height">
    <div class="title p-4 set-pad">
        <h4 class="title-cursive"><i class="bi bi-journal-check"></i> All Videos of Mili Das...</h4>

        <div class="mt-4 mb-4 d-flex justify-content-center">
          <img src="./../../assets/img/videos_banner.jpg" class="img-fluid" />
        </div>
        
        <div class="d-flex justify-content-center set-device">
            <iframe width="100%" height="515" src="https://www.youtube.com/embed/NdEfRFgYJmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        
    </div>
    </div>

</div>